body {
  background-color: var(--color-secondary-background);
}

.view-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.view-wrapper .container {
  width: 50vw;
  gap: var(--space-sm);
}